@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.header{
  text-align: center;
}

.header > h1{
  font-size:50px
}


body {
  margin: 0;
  font-family: 'Schoolbell', cursive;
  font-weight: 600;
  background-color:lightyellow
}
