@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


body {
  margin: 0;
  font-family: 'Italiana', serif;
  font-weight: 600;
  background-color:lightyellow
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
